.experience__number {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: hsl(190, 64%, 18%);
    font-family: 'Raleway', sans-serif;
  }
  
  .experience__description {
    font-size: .813rem;
    color:hsl(190, 24%, 35%);
    font-family: 'Raleway', sans-serif;
    display: block;
    margin-bottom: 4rem;
  }
  
  
  
  
  
